.location-container {
  row-gap: 3rem;
}

.location-data {
  text-align: center;
}

.location-description {
  margin-bottom: 2rem;
}

.location-data a:hover i {
  transform: scale(1.2) translateX(.25rem);
}

.location-image {
  position: relative;
  justify-self: center;
  overflow: hidden;
}

.location-img {
  width: 300px;
  transition: transform .4s;
}

.location-image:hover .location-img {
  transform: scale(1.1);
}