.popular-container {
  padding-top: 1.5rem;
  grid-template-columns: 240px;
  justify-content: center;
  row-gap: 2.5rem;
}

.popular .section-title i {
  font-weight: 500;
  font-size: var(--h2-font-size);
}

.popular-card {
  display: flex;
  justify-content: space-evenly;
}

.popular-image {
  position: relative;
  overflow: hidden;
  margin-top: 1rem;

  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, .2);
  transition: transform .4s;
  width: 215px;
  height: 240px;
}

.popular-img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.popular-button {
  width: 10%;
}

.popular-title {
  font-size: var(--h3-font-size);
  color: #111;
  text-align: center;
  line-height: 2rem;
  border-radius: 3rem;
  margin-top: .45rem;
  transition: all 0.2s ease-in-out;
}

.popular-image:hover .popular-title {
  color: var(--body-color);
  background: var(--button-color);
  transform: translateY(-5.5rem);
}

.popular-image:hover {
  transform: scale(1.1) rotate(3deg);
}

.popular-container .popular-card:nth-child(2) .popular-image {
  transform: rotate(-9deg);
}
.popular-container .popular-card:nth-child(2) .popular-image:hover {
  transform: scale(1.1) rotate(0deg);
}
.popular-container .popular-card:nth-child(4) .popular-image {
  transform: rotate(6deg);
}
.popular-container .popular-card:nth-child(4) .popular-image:hover {
  transform: scale(1.1) rotate(0deg);
}