.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 2.5rem;
  padding-top: 1.5rem;
}

.services-group {
  display: grid;
  row-gap: 1rem;
}

.services-data {
  display: flex;
  column-gap: 0.5rem;
}

.services-data i {
  font-size: 1.25rem;
  font-weight: var(--font-medium);
  color: var(--title-color);
}

/* not checked skill */
.services-data i.no-checked{
  color: red;
}
/* learning */
.services-data i.learning{
  color: #adff2f;
}

.services-data .services-name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-bold);
  line-height: 18px;
}

.services-data .services-level {
  font-size: var(--smaller-font-size);
}