.footer {
  padding-block: 3rem 2rem;
  background-color: var(--container-color);
  /* color: var(--text-color-light); */
}

.footer-container {
  position: relative;
  row-gap: 4rem;
}

.footer-logo {
  display: inline-block;
  color: var(--text-color-light);
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  margin-bottom: .5rem;
}

.footer-logo span {
  color: rgb(23, 204, 87);
}

.footer-content {
  grid-template-columns: repeat(1, max-content);
  gap: 4rem 2rem;
}

.footer-title {
  font-size: var(--h3-font-size);
  color: var(--white-color);
  margin-bottom: 1rem;
}

.footer-description, .footer-address, .footer-info, .footer-info a, .footer-social-link {
  color: var(--text-color-light);
}

.footer-list {
  display: grid;
  row-gap: .75rem;
}

.footer-info, .footer-info a, .footer-address {
  font-style: normal;
  white-space: nowrap;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  transition: all 0.3s ease-out 0s;
}

.footer-info:hover {
  color: var(--main-color);
  transform: translateX(.25rem);
}

.footer-info:hover a {
  color: var(--main-color);
}

.footer-social {
  display: flex;
  column-gap: 1.5rem;
}

.footer-social-link {
  font-size: 1.25rem;
  transition: color .4s, transform .4s;
}
.footer-social-link:hover {
  color: rgb(23, 204, 87);
  transform: translateY(-.25rem);
}

.footer-copyright {
  color: var(--text-color-light);
  display: block;
  margin-top: 6rem;
  text-align: center;
  font-size: var(--smaller-font-size);
}