/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 5.5rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) { /* de 0px hasta 340px */
  .container {
    margin-inline: 1rem;
  }
  .scrollup.is-show {
    bottom: 5rem;
  }
}

/* de 341px hasta 575px --normal-styles css */

/* For medium devices */
@media screen and (min-width: 576px) { /* desde 576px hasta ↑ */
  :root {
    --shadow-deg-end: 90%;
  }
  h3.section-title {
    font-size: 1.45rem;
  }
  h3.section-title::after {
    width: 350px;
  }
  .home-container, .location-container, .explore-content, .join-container {
    grid-template-columns: 380px;
    justify-content: center;
  }
  .services-container, .popular-container {
    padding-top: 2rem;
  }
  .services-container {
    justify-content: space-around;
    align-items: normal;
    flex-direction: column;
  }
  .services-group {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer-content {
    gap: 2rem;
  }
}

@media screen and (min-width: 768px) {
  h3.section-title {
    font-size: 1.65rem;
  }
  h3.section-title::after {
    width: 400px;
  }
  .home-social {
    top: 0;
    bottom: 0;
    right: 1rem;
    align-content: center;
  }
  .home-data {
    padding: 1.5rem;
    row-gap: 1.5rem;
  }
  .home-data .home-title {
    font-size: 3rem;
    text-align: start;
  }
  .home-data .home-description {
    font-size: var(--normal-font-size);
    text-align: start;
    margin-right: 1rem;
  }
  .home-data .home-button {
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  .location-container, .join-container {
    grid-template-columns: repeat(2, 350px);
    align-items: center;
  }
  .location-data .section-title {
    font-size: var(--h2-font-size);
  }
  .location-data, .location-data .section-title, .join-data, .join-data .section-title {
    text-align: initial; /* original is "center" */
  }
  .popular-container {
    grid-template-columns: repeat(2, 240px);
  }
  .services-container, .popular-container {
    padding-top: 2.5rem;
  }
  .services-data .services-name {
    font-size: 19px;
    line-height: 24px;
}
  .explore-img {
    width: 100vw;
  }
  .join-image {
    order: -1;
  }
  .footer {
    padding-block: 2.5rem 1rem;
  }
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    justify-content: space-between;
  }
  .footer-copyright {
    order: -1;
  }
}

/* For large devices */
@media screen and (min-width: 1023px) {
  :root {
    --shadow-deg-end: 95%;
  }
  h3.section-title {
    font-size: 2.25rem;
    font-weight: 400;
  }
  h3.section-title::after {
    width: 650px;
  }
  .is-desktop {
    display: block;
  }
  .navmenu-button, .navmenu-close {
    display: none;
  }
  .navmenu-list {
    flex-direction: row;
    column-gap: 4rem;
  }
  .home-content {
    justify-content: unset;
  }
  .home-data {
    margin-inline: unset;
  }
  .home-social {
    right: 1.5rem;
  }
  .popular-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .services-container, .popular-container {
    padding-top: 3rem;
  }
  .footer-content {
    grid-template-columns: repeat(4, max-content);
    }
  .scrollup-btn .whatsapp, .scrollup-btn i {
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1.5rem;
 }
}

@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }
  .section {
    padding-block: 7rem 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .header.is-scroll::after {
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
  }
  .home-data {
    margin-inline: unset;
  }
  .home-social {
    right: 0;
  }
  .home-social-text {
    font-size: .938rem;
  }
  .home-social-links {
    row-gap: 1rem;
  }
  .home-social-link {
    font-size: 1.5rem;
  }
  .button {
    column-gap: 1.5rem;
  }
  .location-container {
    grid-template-columns: 400px 460px;
    column-gap: 8.5rem;
    padding-block: 1rem;
  }
  .location-description {
    margin-bottom: 3rem;
  }
  .location-img {
    width: 460px;
  }
  .popular-container {
    column-gap: 3rem;
  }
  .services-container, .popular-container {
    padding-top: 4rem;
  }
  .popular-location {
    font-size: var(--normal-font-size);
  }
  .explore-img {
    height: 600px;
  }
  .explore-content {
    padding-top: 28rem;
    grid-template-columns: 670px 1fr;
  }
  .explore-data, .explore-data .section-title {
    text-align: initial;
  }
  .explore-user {
    justify-content: flex-end;
    align-self: flex-end;
    margin-bottom: 1.25rem;
  }
  .join-container {
    grid-template-columns: 460px 340px;
    column-gap: 8.5rem;
    padding-block: 1rem 5rem;
  }
  .join-img {
    width: 460px;
  }
  .join-description {
    margin-bottom: 3rem;
  }
  .footer {
    padding-block: 5rem 1.5rem;
  }
  .footer-title {
    margin-bottom: 1.5rem;
  }
  .footer-social {
    column-gap: 2rem;
  }
  .footer-social-link {
    font-size: 1.5rem;
  }
  .scrollup {
    right: 3rem;
  }
  .scrollup-btn .whatsapp, .scrollup-btn i {
    height: 1.6rem;
    width: 1.6rem;
    font-size: 1.6rem;
 }
}