/*=============== SCROLL UP ===============*/
.scrollup {
  z-index: var(--z-tooltip);
  display: grid;
  grid-template-columns: repeat(1 1fr);
  gap: 1rem;
  transition: bottom .4s, transform .4s;
  right: 1rem;
  position: fixed;
  bottom: -50%;
}
.scrollup.is-show {
  bottom: 4rem;
}

.scrollup-btn {
  background: var(--scrollup-color);
  color: var(--white-color);
  -webkit-backdrop-filter: var(--nav-filter);
  backdrop-filter: var(--nav-filter);
  font-size: 1.25rem;
  padding: 6px;
  border-radius: .25rem;
  display: inline-flex;
  transition: bottom .4s, transform .4s;
}
.scrollup-btn:hover {
  transform: translateY(-.25rem);
}

.scrollup-btn .whatsapp {
  height: 1.25rem;
  width: 1.25rem;
}