.header {
  position: fixed;
  width: 100%;
  background: transparent;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}

.nav-toggle, .nav-close {
  display: flex;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}

.nav-list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav-link {
  position: relative;
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-medium);
}

/* Active link */
.nav-link::after {
  content: ''; /* link bottom lines */
  width: 0;
  height: 2px;
  background-color: var(--title-color);
  position: absolute;
  left: 0;
  bottom: -.5rem;
  transition: width .3s;
}
.active-link::after {
  width: 70%; /* muestra la linea cuando existe this class */
}
.nav-link:hover::after {
  width: 70%; /* las lineas tambien se mostraran in hover */
}
/* Active link */

.nav-close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: hsla(0, 0%, 0%, .3);
    width: 100%;
    padding-block: 4rem;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px); /* for safari */
    transition: top .4s;
  }
}

/* Show menu */
.nav-menu.open {
  top: 0;
}

/* Add blur to header */
.header.blur::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, .3);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* for safari */
  top: 0;
  left: 0;
  z-index: -1;
}

