/* swiper1 ↓↓↓ */
/* swiper ↑↑↑ */

.home {
  position: relative;
}
.box {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-size: cover !important;
  background-position: center !important;
  justify-content: flex-end;
}

.home-description {
  margin-bottom: 2rem;
}

.home-shadow-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, hsla(0,0%,0%,0) 50%, hsl(0,0%,0%) 125%);
}
.home-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* background: #7a5c3c; */
}

/* home social ↓↓↓ */
.home-social {
  display: grid;
  justify-items: center;
  row-gap: 6rem;
  position: absolute;
  top: 10rem;
  z-index: 99;
}

.home-social-text {
  position: relative;
  rotate: 90deg;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
}
 .home-social-text::after {
  content: '';
  width: 48px;
  height: 1px;
  background-color: var(--title-color);
  position: absolute;
  top: 0;
  bottom: 0;
  margin-block: auto;
  right: -64px;
}

.home-social-links {
  display: grid;
  row-gap: .75rem;
}

.home-social-link {
  font-size: 1.25rem;
  color: var(--title-color);
  transition: color .4s;
}
.home-social-link:hover {
  color: var(--main-color);
}

/* slide content */
.home-content {
  padding-block: 10rem 0;
  z-index: 1;
}

.home-data {
  padding-left: 1.5rem;
  row-gap: .5rem;
}

.home-data .home-title {
  font-size: var(--h1-font-size);
  text-align: end;
}
.home-data .home-title span {
  color: rgb(23, 204, 87);
}

.home-data .home-description {
  text-align: end;
  font-size: var(--small-font-size);
}

.home-data .home-button {
  display: flex;
  justify-content: flex-end;
}

.home-data .home-button a:hover i {
  transform: scale(1.2);
}
