/* swiper1 ↓↓↓ */
/* swiper ↑↑↑ */

.home {
  position: relative;
}

.box {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-size: cover !important;
  background-position: center !important;
  justify-content: flex-end;
}

.home-description {
  margin-bottom: 2rem;
  color: var(--white-color);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.home-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--shadow-bg);
}

/* home social ↓↓↓ */
.home-social {
  display: grid;
  justify-items: center;
  row-gap: 6rem;
  position: absolute;
  top: 10rem;
  z-index: 99;
}

.home-social-text {
  position: relative;
  rotate: 90deg;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: var(--white-color);
  text-shadow: var(--text-shadow);
}
 .home-social-text::after {
  content: '';
  width: 48px;
  height: 1px;
  background-color: var(--white-color);
  text-shadow: var(--text-shadow);
  position: absolute;
  top: 0;
  bottom: 0;
  margin-block: auto;
  right: -64px;
}

.home-social-links {
  display: grid;
  row-gap: .75rem;
}

.home-social-link {
  font-size: 1.25rem;
  color: var(--white-color);
  text-shadow: var(--text-shadow);
  transition: transform .4s;
}
.home-social-link:hover {
  transform: scale(1.2);
}

/* slide content */
.home-content {
  padding-block: 10rem 0;
  z-index: 1;
}

.home-data {
  padding-left: 1.5rem;
  row-gap: .5rem;
}

.home-data .home-title {
  font-size: var(--h1-font-size);
  color: var(--white-color);
  text-align: end;
  text-shadow: var(--text-shadow);
}
.home-data .home-title span {
  color: rgb(23, 204, 87);
}

.home-data .home-description {
  text-align: end;
  font-size: var(--small-font-size);
}

.home-data .home-button {
  display: flex;
  justify-content: flex-end;
}

.home-data .home-button a:hover i {
  transform: scale(1.2);
}
