.explore {
  position: relative;
}

.explore-image {
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.explore-img {
  width: 100%;
  height: 333px;
  object-fit: cover;
  object-position: center;
} 

.explore-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, hsl(0,0%,0%) 5%, hsla(0,0%,0%,0) 40%, hsla(0,0%,0%,0) 60%, hsl(0,0%,0%) 92%);
}

.explore-content {
  position: relative;
  padding-top: 16rem;
  text-align: center;
  row-gap: 2.5rem;
}

.explore-user {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: .5rem;
}

.explore-profile {
  width: 30px;
  border-radius: 50%;
}

.explore-name {
  font-size: var(--small-font-siza);
  color: var(--title-color);
}