/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=EB+Garamond:wght@400;500;600;700&family=Poppins:wght@400;500&family=Dancing+Script:wght@700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== HOME SHADOW ==========*/
  --shadow-deg-start: 180deg;
  --shadow-deg-scale: 35%;
  --shadow-deg-end: 75%;
  /* --shadow-bg: linear-gradient(var(--shadow-deg-start), #000 0%, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) var(--shadow-deg-scale), #000 var(--shadow-deg-end)); */
  --shadow-bg: #00000050; /* sombreado del 50% para la imagen del home */
  --box-shadow: #00000000; /* sin sombras */
  /* --home-filter-color: rgba(25, 114, 92, .7); */
  /* --box-shadow: linear-gradient(180deg, hsla(0,0%,0%,0) 50%, hsl(0,0%,0%) 125%); */
  
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /* --scrollup-color: hsla(0, 0%, 100%, .2); */
  --scrollup-color: hsl(24, 3%, 28%);
  --main-color: rgb(23, 204, 87);
  /* --button-color: hsl(31, 34%, 36%); */
  --button-color: rgb(25, 114, 92);
  /* --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 70%); */
  --title-color: #111;
  --text-color: hsl(24, 3%, 28%);
  --text-color-light: hsl(0, 0%, 70%);
  /* --text-shadow: 1px 1px 5px rgb(0, 0, 0); */
  --white-color: hsl(0, 0%, 95%);
  --black-color: hsl(0, 0%, 0%);
  --dual-color: hsl(0, 0%, 0%);
  /* --body-color: hsl(0, 0%, 0%); */
  /* --body-color: #2c3e20cc; */
  --container-color: hsl(0, 0%, 10%);
  --body-color: hsl(0, 0%, 95%);
  /* --nav-color: hsla(0, 0%, 0%, .3); */
  --nav-color: hsla(0, 0%, 100%, .75); /* color solido para el navmenu */
  --nav-filter: blur(24px);
  --nav-transparent: #00000030;

  /* colores verde */
  --color-verde: #2c3e20;
  --color-verde-oscuro: #343c24;
  --color-verde: #435134;
  --color-beige: #E8C39E;
  --color-celeste: #9ec3e8;
  --color-verde-light: #a9d6c7;
  
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Montserrat", sans-serif;
  --section-font: "EB Garamond", sans-serif;
  --cursive-font: "Dancing Script", cursive;
  --biggest-font-size: 2.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  user-select: none;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

body {
  background-color: var(--body-color);
}

.layout.dark-theme {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --scrollup-color: hsl(24, 3%, 28%);
  --main-color: #fff;
  --button-color: #1d9bf0;
  --title-color: #111;
  --text-color: hsl(24, 3%, 28%);
  --body-color: hsl(0, 0%, 95%);
  --dual-color: hsl(0, 0%, 95%);
  /* --nav-color: hsla(0, 0%, 0%, .3); */
  
}

button,
input {
  outline: none;
  border: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

i {
  font-weight: var(--font-regular);
  font-size: 1.25rem;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.flex-box {
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 4rem 1rem;
} 

.section-title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

h3.section-title {
  font-family: var(--section-font);
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
}

h3.section-title::after {
  content: '';
  width: 250px;
  height: 1.25px;
  background-color: #cccccc85;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -.5rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== BUTTON ===============*/
.button {
  background-color: var(--button-color);
  padding: 1.25rem 1.5rem;
  border-radius: .25rem;
  color: var(--white-color);
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  -webkit-backdrop-filter: var(--nav-filter); /* for safari */
  backdrop-filter: var(--nav-filter);
}
.button i {
  font-size: 1.25rem;
  transition: transform .4s;
  font-weight: initial;
}
.button:hover i {
  transform: translateX(.25rem);
}

/*=============== SHADOW ===============*/
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--box-shadow);
}

/*=============== CLASES VARIAS ===============*/
.is-clickable {
  cursor: pointer;
}
.is-desktop {
  display: none;
}

/*=============== SCROLL BAR ===============*/
/* persosonalize scroll bar */
::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(0, 0%, 10%);
}
::-webkit-scrollbar-thumb {
  border-radius: .5rem;
  background-color: hsl(0, 0%, 20%);
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 30%);
}